engine/shaders/ShaderInputs/
engine/shaders/Engine/inputs/
engine/include/Engine/Render/ShaderInputs/
engine/tests/src/Render/ShaderInputs/

demos/noise_analysis/shaders/inputs/*
demos/noise_analysis/src/ShaderInputs.h
demos/starting_project/shaders/inputs/*
demos/starting_project/src/ShaderInputs.h

*.bin
*.pdf
*.zip
*.csv

/assets/**
out/**
build/**
**/.vscode/
**/parsetab.py
**/*.out
.vs/**
engine/shaders/tmp_data.json
vcpkg_installed/
**/.ipynb_checkpoints/
**/__pycache__/**

CMakeSettings.json
*.sublime-workspace
*.sublime-project
.vscode/*
engine/include/engine/util/lru_cache.h
light_map/src/shader_inputs.h
scripts/cutout/README.txt
scripts/full/README.txt
rename.py
launch.vs.json
enc_temp_folder/**


scripts/paper/table.txt
scripts/paper/voxel_mem_usage.json

shader_input_compiler/tests/output/
shader_input_compiler/tests/**/*.hlsl
shader_input_compiler/tests/**/*.h
